.selectionFrame {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.selectionImage {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  position: relative;

  padding: 0;
  border: none;
  background: none;
  outline: none;
}