<div class="container">
              <!--Room Select-->
              <div class="row justify-content-center">
                <div class="col-10">
                    <div class="col-12 d-table" style="padding-top: 0%;">


                        <div class="d-table-cell" style="text-align: center;">
                            <a href="Geo.html" target="_self">
                                <img src="img/Icons/Geo.0.gif" alt="Earth" class="icon-buttons">
                            </a>
                            <h4>Earth</h4>
                        </div>

                        <div class="d-table-cell" style="text-align: center;">
                            <a href="Pyramid.html" target="_self">
                                <img src="img/Icons/Pyramid.0.gif" alt="Fire" class="icon-buttons">
                            </a>
                            <h4>Fire</h4>
                        </div>

                        <div class="d-table-cell" style="text-align: center;">
                            <a href="Dome.html" target="_self">
                                <img src="img/Icons/Dome.0.gif" alt="Water" class="icon-buttons">
                            </a>
                            <h4>Water</h4>
                        </div>

                        <div class="d-table-cell" style="text-align: center;">
                            <a href="Sky.html" target="_self">
                                <img src="img/Icons/Cube.0.gif" alt="Air" class="icon-buttons">
                            </a>
                            <h4>Air</h4>
                        </div>
                    </div>
                </div>
            </div>
</div>